
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f8fc;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}


.App {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f6f8fc;
}
